docker-compose.yml
backend/Dockerfile
frontend/Dockerfile
scripts/era5_ph_wind_wave.geojson
scripts/__pycache__
scripts/era5_ph_wind_wave.grib
scripts/era5_ph_wind_wave.grib.5b7b6.idx
scripts/grib_files/
scripts/upload_wind_raster.txt
frontend/dist/
frontend/public/geojson/

backend/frames/

.venv/

scripts/venv/
scripts/aws/
scripts/wind_tiles/
scripts/20251023180000-0h-oper-fc.grib2
scripts/20250922.grib
scripts/20250922v2.grib
scripts/20250922v2.geojson
scripts/ecmwf_data/
scripts/ECMWF/ecmwf_data/
scripts/ECMWF/ecmwf_data/ECMWF.grib2
scripts/s3Credentials.json
scripts/.env