docker-compose.yml
backend/Dockerfile
frontend/Dockerfile
scripts/era5_ph_wind_wave.geojson
scripts/__pycache__
scripts/era5_ph_wind_wave.grib
scripts/era5_ph_wind_wave.grib.5b7b6.idx
scripts/grib_files/
scripts/upload_wind_raster.txt
frontend/dist/

backend/frames/