APP_ROOT=/home/wavelab/app
WAVETILES_ROOT=/home/wavelab/app/wavetiles
ECWAM_INPUT_ROOT=/home/darwin/ecmwf/ecwam
ECWAM_OUTPUT_ROOT=/home/wavelab/app/wavetiles/tiles/ECWAM
ECWAM_PYTHON=/home/wavelab/app/wavetiles/.venv/bin/python
PACKAGE_TIMEZONE=Asia/Manila
ECWAM_VAR=swh
ECWAM_SIGMA=1.5
ECWAM_GRID_POINTS=271051
